section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  width: 60%;
  margin: 100px 0;
  border-collapse: collapse;
}

div#title_text{
  width: 80%;
  border-bottom: 1px solid black ;
  text-align: center;
  margin: 50px 0;
}
h3{
  font-size: 35px;
  background-color: var(--text_color);
}

tr#content{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 20px;
}

td#text_title{
  width: 60%;
  color: black;
}

#text{
  color: black;
  font-size: 17px;
}

td{
  width: 10%;
  border-right:1px solid var(--line_color);
}

tr th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right:1px solid var(--line_color);
  padding: 7px;
  margin: 0;
}
button {
  height: 2rem;
  width: 10rem;
  margin: 65px 50px 50px 0;
}

button:hover{
  background-color: black;
  color: white; 
}

#text_img{
  margin: 5px;
}